export AWS_PROFILE=[enter AWS profile to use for terraform backend]
export S3_STATE_BUCKET=[enter name of S3 bucket for terraform to use]#
export TF_VAR_proxmox_url=[URL for proxmox server]
export TF_VAR_proxmox_token_id=[ID of token for proxmox]
export TF_VAR_proxmox_token_secret=[Proxmox API token secret for the Terraform service account]
export TF_VAR_ssh_public_key=[SSH public key to inject into provisioned VMs]
export TF_VAR_ghcr_token=[PAT token for ghcr access]
export TF_VAR_cloudflare_api_token=[Cloudflare API Token]
export TF_VAR_cloudflare_account_id=[Cloudflare account ID]
export TF_VAR_cloudflare_zone_id=[Cloudflare zone ID]
export PKR_VAR_proxmox_url=[URL for proxmox server]
export PKR_VAR_proxmox_token_id=[Proxmox token ID, e.g. root@pam!packer]
export PKR_VAR_proxmox_token_secret=[Proxmox API token secret]
export PKR_VAR_http_ip=[IP of machine running packer]
